// Global variables for project.
$horizontal-spacing: 24px;
$color-yellow: #F0BB46;
$color-navy: #041852;
$color-blue: #003669;
$header-height: 64px;
$font-heading: 'Open Sans', sans-serif;
$font-paragraph: 'Roboto', serif; 

//These media-query limitations may need some testing
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$desktop-breakpoint-extra: 1600px;



//Google fonts. I'm not a big fan of using font APIs for integrity reasons, but just for convenience.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, li{
  font-family: 'Open Sans', sans-serif;
  color: $color-navy;
}

p{
  font-family: 'Roboto', sans-serif;
  color: $color-navy;
}

h1{
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

h2{
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

h3{}

h4{}

h5{}

h6{}

a{}
